{% macro start_countdown() %}
#MODE_ENABLE
#INTERACTIVE
copy running-config flash:DNACPreTemplateBackup<IQ>Destination filename<R><IQ>over write?<R>
#ENDS_INTERACTIVE
configure replace flash:DNACPreTemplateBackup force time 15
#MODE_END_ENABLE
{% endmacro %}

{% macro end_countdown() %}
#MODE_ENABLE
configure confirm
#MODE_END_ENABLE
{% endmacro %}

{% macro check_static_ip(hostname, static_ip_devices) %}
    {% if static_ip_devices %}
        {% for device in static_ip_devices %}
            ip source binding {{ mac_address }} vlan {{ vlan_id }} {{ ip_address }} interface {{ interface_name }}
        {% endfor %}
    {% endif %}
{% endmacro %}
