{% set site_dictionary = {
    'dhcp': {
        'network': '198.51.100.0',
        'subnet': '255.255.255.192',
        'router': '198.51.100.1'
    },
    'ntp': {
        'primary_ntp_server': '203.0.113.5',
        'secondary_ntp_servers': [
            '203.0.113.10',
            '203.0.113.15'
        ],
        'ntp_key_hash': '0707307580139750378057139047801234',
        'ntp_key_id': '65565'
    },
    'logging': {
        'logging_servers': [
            '203.0.113.20',
            '203.0.113.25'
        ],
        'logging_port': '514'
    }
}
%}